.App {
  text-align: center;
  height:800px;
  border-style: 1px solid black;
}

.slider{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeAway{
  display: flex;
  justify-content: space-between;
}

.image {
  flex-direction: column;
  position: relative;
  width: 150px;
  height: 150px;
  align-items: center;
  border-radius: 10px;

}

.imageTop {
  flex-direction: column;
  position: relative;
  width: 80px;
  height: 80px;
  align-items: center;


}

.imageBottom {
  flex-direction: column;
  width: 80px;
  height: 80px;
  align-items: center;

}

.up-arrow {
  display: flex;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.down-arrow{
  display: flex;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.bg{
  background-image: url(./NFL\ Project\ Background.png);
  height: 1700px;
  background-repeat: repeat-y;
  margin: 0px;
  background-size: cover;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right:0px;
  bottom: 0px;
  left: 0px;

}



.centerBox{
  margin-top: 400px;
  max-width: 90vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .4);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  padding: 40px;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto Condensed';
  border-style: double;
  flex-direction: column
;}


.teamSelectBox{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 15px;
}
.teamSelect{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.teamSelectRight{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation
{
  position:fixed;
  inset: 20px 0 20px 20px;
  width: 75px;
  background:rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation.open
{
  width: 150px;
  background: rgb(247, 245, 245);
}
.navigation .menuToggle
{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  padding: 0 23px;
}
.navigation .menuToggle::before
{
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #3e3e3e;
  transform: translateY(-8px);
  transition: 0.5s;

}
.navigation.open .menuToggle::before
{
  transform: translateY(0px) rotate(45deg);
}
.navigation .menuToggle::after
{
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #4c4b4b;
  transform: translateY(8px);
  transition: 0.5s;
  box-shadow: 0 -8px 0 #4b4a4a;

}
.navigation.open .menuToggle::after
{
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 0 #333;
}

.navigation ul
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.navigation ul li
{
  list-style: none;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  transition: 0.5;
}
.navigation ul li a
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.navigation ul li a .icon
{
  position: relative;
  display: block;
  min-width: 20px;
  height: 55px;
  line-height: 60px;
}

.navigation ul li a .text
{
  position: relative;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
  color: #333;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.navigation.open ul li a .text
{
  opacity: 1;
  visibility: visible;
}

.statsTable{
  border: 5px double rgb(0, 15, 62);
  margin-top: 10px;

}
.statsCategory{
  border: 1px solid rgb(0,15, 62);

}


.statNum{
  border: 1px solid black;
}

.middleBox{
  display: flex;
  align-items: flex-start;
  height: auto;
}

.text{
  margin-top: 5px;
}

.info {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width:500px;
  max-width: 80%;
}

.info.active{
  transform: translate(-50%,-50%) scale(1);
}

.info-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.info-header .title{
  font-size: 1.25rem;
  font-weight: bold;
}

.info-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.info-body{
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  /*opacity: 0; */
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0, .5);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}