.App {
  text-align: center;
  height:800px;
  border-style: 1px solid black;
}

.slider{
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homeAway{
  display: flex;
  justify-content: space-between;
}

.image {
  flex-direction: column;
  position: relative;
  width: 150px;
  height: 150px;
  align-items: center;
  border-radius: 10px;

}

.imageTop {
  flex-direction: column;
  position: relative;
  width: 80px;
  height: 80px;
  align-items: center;


}

.imageBottom {
  flex-direction: column;
  width: 80px;
  height: 80px;
  align-items: center;

}

.up-arrow {
  display: flex;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.down-arrow{
  display: flex;
  font-size: 2rem;
  color: #000;
  cursor: pointer;
  user-select: none;
}

.bg{
  background-image: url(./NFL\ Project\ Background.png);
  height: 1700px;
  background-repeat: repeat-y;
  margin: 0px;
  background-size: cover;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right:0px;
  bottom: 0px;
  left: 0px;

}



.centerBox{
  margin-top: 400px;
  max-width: 90vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, .4);
  box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
  padding: 40px;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto Condensed';
  border-style: double;
  flex-direction: column
;}


.teamSelectBox{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 15px;
}
.teamSelect{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.teamSelectRight{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation
{
  position:fixed;
  inset: 20px 0 20px 20px;
  width: 75px;
  background:rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation.open
{
  width: 150px;
  background: rgb(247, 245, 245);
}
.navigation .menuToggle
{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  padding: 0 23px;
}
.navigation .menuToggle::before
{
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #3e3e3e;
  transform: translateY(-8px);
  transition: 0.5s;

}
.navigation.open .menuToggle::before
{
  transform: translateY(0px) rotate(45deg);
}
.navigation .menuToggle::after
{
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  background: #4c4b4b;
  transform: translateY(8px);
  transition: 0.5s;
  box-shadow: 0 -8px 0 #4b4a4a;

}
.navigation.open .menuToggle::after
{
  transform: translateY(0px) rotate(-45deg);
  box-shadow: 0 0 0 #333;
}

.navigation ul
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.navigation ul li
{
  list-style: none;
  position: relative;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  transition: 0.5;
}
.navigation ul li a
{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.navigation ul li a .icon
{
  position: relative;
  display: block;
  min-width: 20px;
  height: 55px;
  line-height: 60px;
}

.navigation ul li a .text
{
  position: relative;
  padding: 0 15px;
  height: 60px;
  display: flex;
  align-items: center;
  color: #333;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}

.navigation.open ul li a .text
{
  opacity: 1;
  visibility: visible;
}

.statsTable{
  border: 5px double rgb(0, 15, 62);
  margin-top: 10px;

}
.statsCategory{
  border: 1px solid rgb(0,15, 62);

}


.statNum{
  border: 1px solid black;
}

.middleBox{
  display: flex;
  align-items: flex-start;
  height: auto;
}

.text{
  margin-top: 5px;
}

.passyards{
  position: relative;
  padding: 5px 12px;
  margin: 5px;
}

.passyards:before, .passyards:after{
  position: absolute;
  content: '';
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}

.passyards:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: -15px;
  transform: translateY(20px)
}

.passyards:after{
  content: 'Any yard that is registered through the act of the ball being caught';
  background: #ffffff;
  width: 500px;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
}

.passyards:hover:before, .passyards:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}

.rushyards{
  position: relative;
}

.rushyards:before, .rushyards:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.rushyards:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: -15px;
  transform: translateY(20px)
}

.rushyards:after{
  content: 'The number of yards a player runs with the ball in their hands without receiving a pass';
  background: #ffffff;
  width: 500px;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.rushyards:hover:before, .rushyards:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}

.passtd{
  position: relative;
}

.passtd:before, .passtd:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.passtd:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: 5px;
  transform: translateY(20px)
}

.passtd:after{
  content: 'A pass thrown from the passer (usually the quarterback) to a receiver that results in a touchdown being scored';
  background: #ffffff;
  width: 500px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.passtd:hover:before, .passtd:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}

.rushtd{
  position: relative;
}

.rushtd:before, .rushtd:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.rushtd:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: -15px;
  transform: translateY(20px)
}

.rushtd:after{
  content: 'A touchdown scored by a player with the ball in their posession without receiving a pass';
  background: #ffffff;
  width: 500px;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.rushtd:hover:before, .rushtd:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}

.passcomppct{
  position: relative;
}

.passcomppct:before, .passcomppct:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.passcomppct:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: -15px;
  transform: translateY(20px)
}

.passcomppct:after{
  content: 'The percentage of passes completed from the number of passes attempted';
  background: #ffffff;
  width: 500px;
  height: 40px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.passcomppct:hover:before, .passcomppct:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}


.INT{
  position: relative;
}

.INT:before, .INT:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.INT:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: 5px;
  transform: translateY(20px)
}

.INT:after{
  content: 'The number of passes in which the ball was intended for a player of the same team but caught by a player of the team on defense';
  background: #ffffff;
  width: 500px;
  height: 60px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.INT:hover:before, .INT:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}

.passydall{
  position: relative;
}

.passydall:before, .passydall:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.passydall:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: -5px;
  transform: translateY(20px)
}

.passydall:after{
  content: 'The amount of yards gained by an offensive team on completed passes allowed by a defense';
  background: #ffffff;
  width: 500px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.passydall:hover:before, .passydall:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}

.rushydall{
  position: relative;
}

.rushydall:before, .rushydall:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.rushydall:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: -5px;
  transform: translateY(20px)
}

.rushydall:after{
  content: 'The amount of yards gained by an offensive team on rushing attempts allowed by a defense';
  background: #ffffff;
  width: 500px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.rushydall:hover:before, .rushydall:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}

.passtdall{
  position: relative;
}

.passtdall:before, .passtdall:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.passtdall:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: -5px;
  transform: translateY(20px)
}

.passtdall:after{
  content: 'The amount of passing TDs scored by an offensive team allowed by a defense';
  background: #ffffff;
  width: 500px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.passtdall:hover:before, .passtdall:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}

.rushtdall{
  position: relative;
}

.rushtdall:before, .rushtdall:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.rushtdall:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: -5px;
  transform: translateY(20px)
}

.rushtdall:after{
  content: 'The amount of rushing TDs scored by an offensive team allowed by a defense';
  background: #ffffff;
  width: 500px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.rushtdall:hover:before, .rushtdall:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}

.defenseINT{
  position: relative;
}

.defenseINT:before, .defenseINT:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.defenseINT:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: -5px;
  transform: translateY(20px)
}

.defenseINT:after{
  content: 'The amount of passes caught by the defense resulting in a turnover';
  background: #ffffff;
  width: 500px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.defenseINT:hover:before, .defenseINT:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}

.fumblescaus{
  position: relative;
}

.fumblescaus:before, .fumblescaus:after{
  position: absolute;
  content: '';
  transition: all 0.0s ease;
  opacity: 0;
  visibility: hidden;
}

.fumblescaus:before{
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color:#ffffff transparent transparent transparent;
  top: -5px;
  transform: translateY(20px)
}

.fumblescaus:after{
  content: 'The amount of balls that are fumbled resulting in a loss of player possesion caused by a defense';
  background: #ffffff;
  width: 500px;
  height: 50px;
  font-size: 20px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px; 
  transform: translateY(20px);
  z-index: 10;
}

.fumblescaus:hover:before, .fumblescaus:hover:after{
  transform: translateY(-2px);
  opacity: 1;
  visibility: visible;
}